.scrap-item {
    padding: 8px 5px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 5px;
}

.item-replies {
    margin-top: 8px;
    background-color: #f0f5fa;
    padding: 5px;
    border: 1px solid #d4e1f5;
    border-radius: 3px;
}

.reply-item {
    font-size: 10px;
    margin-bottom: 4px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 2px;
}
.reply-item:last-child { border-bottom: none; margin-bottom: 0; }